.filter-sort {
    padding-top: 39px;
    height: 80px;
    position: relative;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        padding: 0px 16px 16px;
        background-color: #fff;
    }

    &[open] {
        width: 360px;
        height: 531px;
        flex-shrink: 0;
        fill: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        color: $mainColor;
    }

    &[open] path {
        fill: $mainColor;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        color: $fullBlackText;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__head {
        color: $fullBlackText;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $mainColor;
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] .filter__head {
        color: $mainColor;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: $buttonFeatureColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $mainColor;
        }
    }
}

.sort-cat {
    padding-top: 12px;
    display: flex;
    gap: 28px;
    
    &__details {
       position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        color: $buttonFeatureColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        background: #FFF;
        gap: 8px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }

    &__check {
        display: flex;
        align-items: center;
        gap: 9px;
        color: $buttonFeatureColor;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}