button {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $buttonFeatureColor;
    background-color: $footerItemBackgroundColor;
    border: none;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #4D4D4D;
}

h4 {
    color: $mainColor;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.top-head {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $mainColor;
    }
}

.bredcrumbs__link {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;

    &__site {
        font-weight: 700;
        color: $mainColor;
    }
}

.main-product {
    background-color: $mainProductBackgroundColor;

    &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 11px;
        padding-bottom: 42px;
    }

    &__button {
        width: 47px;
        height: 47px;
        border: none;
        background-color: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__center {
        display: flex;
        justify-content: center;
        background: #FFF;
    }

    &__info {
        margin-top: -65px;
        padding: 65px 293px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #5E5E5E;
            margin: 48px 0 32px;
        }

        &__price {
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            color: $mainColor;
        }

        &__features {
            margin: 128px 0 48px;
            display: flex;
            gap: 42px;
        }

        &__button {
            padding: 16px 48px 8px 24px;
            display: flex;
            align-items: center;
            gap: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $mainColor;
            border: 1px solid $mainColor;
        }
    }
}

.bold-line {
    width: 64px;
    border: 2px solid $mainColor;
    margin: 12px 0;
}