$widthSite: 1140px;
$mainColor: #F16D7F;
$witheText: white;
$blackText: #222222;
$fullBlackText: #000;
$backgroundColorFuterHeader: #222222;
$productContentTextColor: #5D5D5D;
$footerItemBackgroundColor: white;
$promoBackgroundColor: #F1E4E6;
$subscribeImputEmailBackground: #E1E1E1;
$productBoxLitleText: #9F9F9F;
$productContentBackgroundColor: #F8F8F8;
$mainProductBackgroundColor: #f7f7f7;
$buttonFeatureColor: #6F6E6E;
$breadcrumbsLinkColor: #636363;
$paginationShrinkColor: #EBEBEB;